* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('asset/nysc_logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw 5vh 5vw;
    align-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5vh;
    background-color: #621919fe;
    z-index: 1000;
    white-space: nowrap;
}

header h4 {
    color: wheat;
    font-size: 3.2vh;
}

.header {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

.main {
    background-color: wheat;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 2vh;
}

h1 {
    font-size: 5vw;
    color: darkgreen;
    font-family: 'cambria', serif;
    white-space: nowrap;
    text-align: center;
    padding: 20px 0 10px 0;
}

.list {
    background-color: #621919fe;
    border-radius: 10px 50px 10px 10px;
    width: 75vw;
    padding: 2vh 0 2vh 0;
}

p {
    font-size: 6vw;
    padding: 1vh 0 1vh 0;
    background: linear-gradient(to top, black, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 4vw;
    text-align: center;
    color: #00000095;
    padding-bottom: 1vh;
}

a {
    color: whitesmoke;
    text-decoration: none;
    justify-content: center;
}

.lost {
    text-align: right;
    color: black;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

















