* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../asset/nysc_logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    align-content: center;
    padding: 0 5px 0 5px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.body {
    background-color: #621919fe;
    opacity: 0.97;
    color: white;
    padding: 10px;
    border-radius: 25px;
}
