* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    background: whitesmoke;
    border: solid black;
}

.group {
    background-color: white;
    width: 10%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.group h3 {
    font-size: 12vw;
    color: darkgreen;
    transform: rotate(270deg);
    white-space: nowrap;
}

.rest {
    border-left: solid black;
    width: 90%;
    height: 100%;
    border-right: solid black;
}

.LG {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 8vw;
    height: 10%;
}

.post {
    background-color: white;
    height: 80%;
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post img {
    width: 80%;
    height: auto;
}

.post h2 {
    font-size: 6vh;
    text-align: center;
}

.end {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 5vw;
    white-space: nowrap;
    height: 10%;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10%;
    transition: transform 0.3s ease-in-out;
    gap: 5px;
}

.hide-foot {
  transform: translateY(100%);
}

a {
    text-decoration: none;
    font-size: 5vw;
    color: white;
}

button {
    border: 2px solid;
    background-image: radial-gradient(circle, #00000095, #621919fe, brown);
    border-radius: 30px;
    padding: 10px;
    opacity: 0.9;
}